body{
  background-color: white;
  
  font-family: 'Montserrat', sans-serif;
  
}
.title{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size:xx-large;
  color:#8f3b15 ;
  ;
}
.option-style
{
    color:#8f3b15 ;
    font-weight: 700;
}

.flexcentered{
  display: flex;
  justify-content: center;
}

.btn{
  --bs-btn-active-color: #8f3b15;
  --bs-btn-active-bg: white;
}
/* #ffd54f Mushroom body */ 
/* #a67c52 Mushroom head */
@media (max-width: 412px) {
  .ImageResponsiveness{
    display: none;
  }
  .title{
    
  }

}
