body{
  background-color: #f6ffde;
  
  font-family: 'Montserrat', sans-serif;
  
}
.title{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size:xx-large;
  color: #8f3b15 ;
  ;
}

/* #ffd54f Mushroom body */ 
/* #a67c52 Mushroom head */