.RecipeImageContainer{
    justify-content: center;
    display: flex;
    row-gap: 5vh;
}
.MyRecipeTitle{
    font-size: 20px;
    font-weight: 300;
     color:#8f3b15 ;
     color: #37b100;
     
}

.RecentlyAddedStyle{
   font-style: italic; 
   font-weight: 600;
   color:#8f3b15 ;
   margin-left: 4%;
   margin-top: 5%;
   margin-bottom: 3%;
}


@media (max-width: 888px) {
    .RecipeTitle{
        font-size: 3vh;
        font-weight: 300;
         
    }
  }
  @media (max-width:670px){
    .MyCardBodyResponsiveness{
        background-color: white;
        margin-top: -25vw;
        
    }
    
    
  }


  .ZoomEffect{
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .ZoomEffect:hover{
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }