.RecipeImageContainer{
    display: flex;
   
    row-gap: 5vh;
}
.MyRecipeTitle{
  font-family: 'Dancing Script', cursive; 
    font-size: 20px;
    font-weight: 300;
     color: #37b100;
     
}
.RecipeColumnContainer{
  align-content: flex-end;
}

.RecentlyAddedStyle{
  font-family: 'Dancing Script', cursive; 
   
   font-size: 50px; 
   font-weight: 600;
   color:#f79417 ;
   opacity: 70%;
   margin-left: 4%;
   margin-top: 5%;
   margin-bottom: 3%;
}


@media (max-width: 888px) {
    .RecipeTitle{
      font-size: 12vw;
        font-weight: 300;
         
    }
    .RecentlyAddedStyle{
      font-size: 7.5vw;
      padding-left: 10vw;
      padding-bottom: 1.5rem;
    }
  }
  @media (max-width:670px){
    .MyCardBodyResponsiveness{
        background-color: white;
        margin-top: -25vw;
        
    }
    
    
    
  }
  

  .ZoomEffect{
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .ZoomEffect:hover{
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }