/* .Main-img{
        width: 80%;
        height: auto;
        padding-left: 2.5rem;
        
 
} */
.bodyImage{
  transition: 3000ms;
  transform-origin: 22vw 18vw;
 width: 40vw;
 
}
.content-flex-center{
    display: flex;
    justify-content: center;
}
.content-flex-start{
  display: flex;
  justify-content: start;
}
.content-flex-end{
  display: flex;
  justify-content: end;
}

.main-title{
  font-family: 'Dancing Script', cursive;
  color: #37b100;
  /*  */
  /* color: #617A55; */
    font-weight: 900 ;
    font-size: 9vw;
 
}
.Wfontsize{
  font-size: 10vw;
  color: #37b100;
}

.main-subTitle{
  font-family: 'Courgette', cursive;
  
  color: #f79417;
  /*  */
  /* #37b100 */
  /* color: #617A55; */
  opacity: 70%;
    font-weight: 900 ;
    font-size: 1.5rem;
 
}
.ingredient{
  width:15vw;
}
.backgroundtransition{
  background-image: linear-gradient(white,#b5e0a2,white );
}
.backgroundFooter{
  background-image: linear-gradient(white,#f79417 );
}
.subTitleforMainPage{

}
.ingredientSalad{
  width:25vw;
  margin-top: 5vw;
  transform: rotate(-29deg);
}
.Line{
  opacity: 30%;
  border: 1vw dotted  #f79417 ;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: auto 45%;
  

}

.collapse-img {
    visibility: hidden;
    opacity: 0;
    transition: opacity 5s ease-in-out;
  }
  
  .collapse-img.show {
    visibility: visible;
    opacity: 1;
  }
  
  .Main-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .fade-in {
    transition: opacity 5s ease-in-out;
  }
  
  .fade-in.Main-img {
    opacity: 0;
  }
  
  .fade-in.Main-img.fade-in {
    opacity: 1;
  }
 .bodyImage:hover{
  transition: 3000ms;
 transform: rotate(360deg);
 }
  @media (max-width:576px) {
    .bodyImage{
      display: none;
      background-size: 100% 130%;
      background-repeat: no-repeat ;
      border-radius: 5px;
     }
     
  }