.centered{
    padding: 0 0.2rem;

}

.NameContent{
    display: flex;
    gap:0 1rem;
    flex-wrap: wrap;
    justify-content: center;
    
}
.NameContent >*{
    flex-grow: 1;
    min-width: 200px;
}
.flexbox{
    padding-bottom: 0;
    line-height: 0 !important;
    margin-top: 0.5rem;
}
