.small{
  width:150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.large{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.marginTop{
  margin-top: 7rem;
}
.margin{
  margin:7rem auto 7rem auto;
}
.pageLoad{
  margin:7rem auto 7rem auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}