
.NavbarAttribute
{
padding: auto 20px auto 20px;
text-align: center;
}
.option-style
{
    font-family: 'Dancing Script', cursive;
    color:#8EAC50 ;
    font-size: 20px;
    font-weight: 700;
}
.NavBarTitle{
    font-family: 'Courgette', cursive;
    font-size: 30px;
    font-weight: 700;
    color:#8EAC50 ;
  }
img{

    margin-right: 35px;

}
.resizepicture{
    width: 100%;
    height: 100%;
}
.underline{
    text-decoration:underline;
}
.menu  {
    
    transform: scale(1.7);
    text-shadow: none;
  }
.flexedbox{
    display:flex;
    justify-content: center;
    
}

.defaultsetting{
background-color: white;
border:none
}
.defaultsetting:hover{
    background-color: white;
    color:#8f3b15 ;
    border:none;
    text-shadow: none;
}


