
.NavbarAttribute
{
background-color: #f6ffde ;
padding: auto 20px auto 20px;
}
.option-style
{
    color:#8f3b15 ;
    font-weight: 700;
}
img{

    margin-right: 35px;

}

.underline{
    text-decoration:underline;
}
.menu  {
    transform: scale(1.2);
    text-shadow: none;
  }