.IngredientButton{
    display: flex;
    margin: 20px 20px 0px 10px;
}
.toggleLine{
    display: none;
}
@media (max-width:767px){
    .IngredientButton{
        display: flex;
        
        justify-content: center;
    }
    .toggleLine{
        display: block;
    }
}