.searchBarLine{
    list-style-type: none;
    
  }
  .searchBarContainer{
    padding-top: 0.3rem;
  
    border: 1px solid grey;
  }
  .searchBarLine:hover{
    border: 2px solid greenyellow;
    transition : 800ms;
    cursor: pointer;

transform : translateY(-0px);
background-color: #f6ffde;
color: #8f3b15;
border: solid 2px #8f3b15;
  }
  