.searchBarLine{
    list-style-type: none;
    
  }
  .searchBarContainer{
    padding-top: 0.3rem;
  font-family: "Courgette";
    border: 1px solid grey;
    color:#37b100;
    font-size: 20px;
    
  }
  .searchBarLine:hover{
 
    font-family: "Montserrat";
    transition: 300ms;
  background-color:#37b100 ;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 2rem;
  color: white;
cursor: pointer;

  }
  