/* .primary{
    color: blue;
    background-color: aqua;
    border-radius: 5px;
    
}
.primary:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */



.primary{

font-family: "Courgette";
font-weight: 500;
font-size: 16px;
background-color: #37b100;
color:  white;
padding: 10px 30px;
border: dotted #37b100 2px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.primary:hover{

transition : 1000ms;
padding: 10px 50px;
/* padding: 10px 100px; */
transform : translateY(-0px);
background-color: white;
color: #f79417;
border: solid 2px #f79417;
/* border: none 2px #f79417; */
}

.flex-grow{

flex-grow: 1;
}
.FormButton{
    font-family: "Montserrat";
font-weight: 500;
font-size: 14px;
padding: 10px 30px;
display: flex;
flex-direction: row;
align-items: center;
    border-radius: 50px;
  }
.FormButton:hover{
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    
  }

.red:hover{
    background-color: white;
    color: red;
    border: solid 2px red;
}
.white:hover{
    background-color: white;
    color: black;
    border: solid 2px black;
}